/*when things are clicked, most notably the Back To Top button, the scroll should be smooth rather than sudden*/
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}


body {
background-color:#f4ecdd;
margin: 0.6em;
}


header{
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  font-size: 1.2em;
}

#DarkMode {
  height: 5vh;
  float: right;
  margin-top: -30px;
  padding-right: 10px;
}
/* when dark mode is active */
.dark-mode {
  background-color: #181615;
}
.dark-mode header{
color: white;
}

#BurgerMenuDefault {
  height: 5vh;
  position: relative;
  right: calc(90vw - 5px);
  background-color: rgba(244, 236, 221, 0.6);
  padding: 5px;
    border-radius: 6px;
}

nav {
  text-align: right;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  padding: 20px;
  left: 90vw;
    transition: left 0.4s, background-color 0.4s;
}

nav.active {
  left: 0vw;
  background-color: rgba(0, 0, 0, 0.85);
}

nav.active #BurgerMenuDefault {
  right: calc(90vw - 25px);
  background-color: rgba(244, 236, 221, 0);
}


.menuItem {
  padding: 20px;
  display: inline-block;
  width: 100%;
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
}


h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  text-align: center;
  margin-top: 30px;
}

#MTPVideo {
  display: flex;
  justify-content: center;
}

#About {
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  text-align: center;
}

blockquote {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}



#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 12px; /* Place the button at the bottom of the page */
  right: calc(50vw - 25px);
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(244, 236, 221, 0.9);
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 14px; /* Some padding */
  border-radius: 6px; /* Rounded corners */
  font-size: 1em; /* Increase font size */
  font-weight:bolder;
   transition: 0.2s;
}

#myBtn:hover {
  background-color: rgba(24,22,21, 0.8); /* Adds a dark-grey background on hover */
  color: white;
}





/* Responsive layout - Other Element adjustments */
@media screen and (min-width: 800px){
  header {
    position: relative;
    height: auto;
    left: 0;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .menuItem {
      color: black;
      font-size: 1.2em;
      width: auto;
      text-decoration: none;
    font-family: 'Open Sans', sans-serif;
      font-weight: bolder;
  }
  #BurgerMenuDefault {
    display: none;
  }
  #mainMenu {
  position: relative;
  height: auto;
  left: 0;
  display: flex;
  justify-content: center;
    padding: 0;
}
.menuItem:hover {
  text-decoration: underline;
}


#DarkMode {
  height: vh;
  position:absolute;
  left: calc(43.5vw - 20px);
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: -4px;
}
#DarkMode:hover {
  cursor: pointer;
}
.dark-mode .menuItem {
  color: white;
}
.dark-mode h2 {
  color: white;
}
.dark-mode #About {
  color: white;
}
.dark-mode blockquote {
  color: white;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  left: calc(43.5vw - 20px);
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(244, 236, 221, 0.8);
  cursor: pointer; /* Add a mouse pointer on hover */
  width: 15vw;
  border-radius: 6px; /* Rounded corners */
  font-size: 1.5em; /* Increase font size */
  font-weight:bolder;
}


blockquote {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  margin-left: 300px;
  margin-right: 300px;
}
}
