body {
background-color:#f4ecdd;
margin: 1em;
}

header{
  font-family: sans-serif;
  font-weight: bolder;

}

.OpeningContainer{
  font-size: 10pt;
  font-family: cursive;
  font-weight: bold;
}

.HomepageImages{
  display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;


}

img{
  height: 16vh;
border-radius: 8px;
display: inline-grid;
margin: 0.2em;
}
